body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#display {
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 eşit sütun */
    gap: 10px;
}

button {
    background-color: #555;
    color: white;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #777;
}


.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #e08b00;
}


.equal {
    background-color: #2ecc71;
    grid-column: span 1; /* Tek sütun kapla */
}

.equal:hover {
    background-color: #27ae60;
}


.clear {
    background-color: #e74c3c;
    grid-column: span 1;
}

.clear:hover {
    background-color: #c0392b;
}


.zero {
    grid-column: span 1;
}


.plus {
    grid-row: span 2; 
    height: 100%; 
}
